<h1 *ngIf="artist?.name">{{artist?.name}}</h1>
<h1 *ngIf="!artist?.name || artist?.name === ''" class="opacity-25">New Artist</h1>

<div class="row">
  <div class="col-10">
    <div class="form-group " >
      <div class="row mb-1" *ngFor="let key of Object.keys(artist)">
        <div class="col-4">
          <label>
            <b>{{key}}</b>
          </label>
        </div>

        <div class="col-7">
          <input type="text"
                 class="form-control form-control-sm"
                 [(ngModel)]="artist[key]">
        </div>

        <div class="col-1">
          <button class="btn btn-danger w-100"
                  style="font-size: 0.5rem;"
                  (click)="onRemoveRow(key)"
                  *ngIf="!isDefault(key)">
            del
          </button>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-4">
          <input type="text"
                 style="background-color: aliceblue; color: dimgrey"
                 class="form-control form-control-sm"
                 [(ngModel)]="newAttribute[0]"
                 (keyup)="validateNewKey()"
          >
        </div>
        <div class="col-7">
          <input type="text"
                 style="background-color: aliceblue; color: dimgrey"
                 class="form-control form-control-sm"
                 [(ngModel)]="newAttribute[1]">
          <small id="emailHelp" class="form-text text-danger">{{ addError }}</small>

        </div>
        <div class="col-1">
          <button class="btn btn-success w-100"
                  style="font-size: 0.5rem;"
                  (click)="onAddRow()"
          >
            add
          </button>
        </div>
      </div>

    </div>
  </div>

  <div class="col-2">
    <button
      (click)="onSave()"
      class="btn btn-success w-100 mb-2">
      Save
    </button>
    <button
      (click)="onClose()"
      class="btn btn-outline-danger w-100">
      Close
    </button>
  </div>
</div>
