<h1>{{album?.name}}</h1>

<div class="row">
  <div class="col-10">
    <div *ngFor="let pair of attributes">
      <label for="{{pair[0]}}_id"><b>{{pair[0]}}</b></label>
      <p id="{{pair[0]}}_id">{{pair[1]}}</p>
    </div>
    <div>
      <label for="artist_id"><b>Artist</b></label>
      <a id="artist_id" class="d-block" routerLink="/artists/{{artist?._id}}">{{artist?.name}}</a>
    </div>
  </div>

  <div class="col-2">
    <button
      class="btn btn-primary w-100 mb-2"
      [routerLink]="['/albums/edit', album?._id]">
      Edit
    </button>
    <button
      class="btn btn-danger w-100 mb-2"
      (click)="deleteAlbum()">
      Delete
    </button>
    <button
      class="btn btn-secondary w-100"
      (click)="onClose()">
      Close
    </button>
  </div>
</div>


