<nav class="navbar navbar-expand-lg px-3 py-1" >
  <div class="navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" routerLink="artists" [ngClass]="router.url.includes('artist') ? 'active' : ''">
        Artists
      </a>
      <a class="nav-item nav-link" routerLink="albums" [ngClass]="router.url.includes('album') ? 'active' : ''">
        Albums
      </a>
    </div>
  </div>
</nav>

<div class="container p-2">
  <router-outlet></router-outlet>
</div>
