@import 'ngx-toastr/toastr';


/* You can add global styles to this file, and also import other style files */
body {
  background-color: #cecece;
}

.album{
  background-color: #dff2ff;
}

.artist {
  background-color: #ffdffc;
}

.navbar {
  background-color: inherit !important;
}

nav .active {
  text-underline: black;
  font-weight: bold;
}
